.holo-bg {
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0px;
	left: 0px;
}

.holo-bg__img {
	width: 100%;
	height: 100%;
	background: url('../img/Auschwitz.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.13;
}

.type-wrap {
	background: #F3B32A;
	border-radius: 4px;
	padding: 12px 10px 12px 20px;
	width: 80%;
	margin: auto auto;
	direction: rtl;
	margin-top: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.type-wrap span {
	line-height: 24px;
	font-size: 24px;
}

.type-wrap .material-icons {
	position: relative;
	top: 5px;
}

@media (min-width: 640px) {
	.type-wrap {
		margin-top: 30vh;
		max-width: 600px;
	}
}