.holo-bg {
	width: 100%;
	height: 100%;
	background: #111;
	position: fixed;
	top: 0px;
	left: 0px;
}

.holo-bg__img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0.13;
	transition:all 0.5s ease-out;
	/*transition-delay:0s;*/
	
	
}

.holo-bg__img--one {
		background-image: url('../img/Auschwitz.jpg');		
}
.holo-bg__img--two {
		background-image: url('../img/Auschwitz2.jpg');
}
.holo-bg__img--three {
		background-image: url('../img/Majdanek.jpg');
}

.holo-bg__img.ng-hide {
	opacity:0;
	/*transition-delay:0.5s;*/
		
}

.type-wrap {
	background: #F3B32A;
	border-radius: 4px;
	padding: 12px 10px 12px 20px;
	width: 80%;
	margin: auto auto;
	direction: rtl;
	margin-top: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.type-wrap span {
	line-height: 24px;
	font-size: 24px;
}

.type-wrap .material-icons {
	position: relative;
	top: 5px;
}

@media (min-width: 640px) {
	.type-wrap {
		margin-top: 24px;
		max-width: 600px;
	}
}