/*main color: E83E3E*/

@import url('https://fonts.googleapis.com/css?family=Secular+One&subset=hebrew,latin-ext');

body {
    font-size: 24px;
    font-family: 'Secular One', sans-serif;
}


body.fp-viewing-0 {
    --bg-color:#4F8DF9;
    --meta-color:#3063BB;
    --text-color:#fff;
    --dark-color:#1B2653;
}

body.fp-viewing-1 {
    --bg-color:#2B3B67;
    --meta-color:#3063BB;
    --text-color:#fff;
    --dark-color:#1B2653;
}

body.fp-viewing-2 {
    --bg-color:#FFC100;
    --meta-color:#FF8100;
    --text-color:#2C2C2C;
    --dark-color:#FF8100;
}

.border {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    pointer-events: none;
    border: 11px solid #fff;
    box-sizing: border-box;
    
}



.floating-title {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 22px;
    color: var(--text-color);
    text-align: right;
    position: fixed;
    top: 35px;
    right: 44px;
    transition: all 0.3s linear;

}

.floating-title2 {
    font-family: 'Roboto Mono';
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 0;
    text-align: right;
    position: fixed;
    bottom: 37px;
    right: 44px;
    text-align: right;
    transition: all 0.3s linear;

}



#logo-float {
    position: fixed;
    top: 38px;
    left: 46px;
    z-index: 99;
}

.section {
    height: 100vh;
}

.contain-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--bg-color);
    transition: all 0.3s linear;
}


.screen-left-container {
    max-width: 460px;
}


.screen-right-container {
    max-width: 460px;
    width: 310px;
    text-align: center;
}

.left-meta-tag {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    color: var(--meta-color);
    letter-spacing: 1.75px;
    text-align: left;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    transition: all 0.3s linear;

}

.left-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    color: var(--text-color);
    padding-bottom: 18px;
    transition: all 0.3s linear;

}

.left-body {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    letter-spacing: 0;
    line-height: 28px;
    transition: all 0.3s linear;

}


/*Desktop*/

@media (min-width: 640px) {}



/* dots override */

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    height: 11px;
    width: 11px;
    background: var(--meta-color);
    transition: all .3s linear;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 22px;
    width: 22px;
    margin: -8px 0 0 -7px;
    background: var(--dark-color);
}

#fp-nav ul li, .fp-slidesNav ul li {
    height: 22px;
}