/*main color: E83E3E*/

@import url('https://fonts.googleapis.com/css?family=Secular+One&subset=hebrew,latin-ext');
body {
    font-size: 24px;
    font-family: 'Secular One', sans-serif;
}

#pagecontainer {
    text-align: right;
    direction: rtl;
}

.holo-text-color-key {
    color: #F3B32A;
}

.holo-text-color-body {
    color: #fff;
}

h2 {
    text-align:center;
    font-size:14px;
}
.holo-section-intro {
    /*padding-top:30%;*/
}

.holo-section-intro__title {
    margin-top:150px;
    margin-bottom:75px;
    font-size: 32px;
    line-height: 36px;
    direction: rtl;
    text-align: right;
    padding-right: 16px;
    width: 80%;
}

.holo-section-intro__scrolldown {
    text-align: center;
    margin-bottom: 24px;
    font-size: 13px;
    letter-spacing: 0.4px;
    position:absolute;
    bottom:0px;
    width:300px;
    left:calc(50% - 150px);
}

.holo-inner-padding {
    padding-right: 16px;
}

.holo-text-meta {
    font-size: 24px;
    letter-spacing: 0.5px;
}
.holo-term-link .material-icons {
    font-size: 36px;
    top: 5px;
    position: relative;
    transform: scaleX(-1);
    color:#fff;
    transition:color 0.3s linear;
}
.holo-term-link .material-icons:hover {
      color: #F3B32A;
}
.holo-term-title {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 45px;
    margin-bottom: 40px;
    /*margin-right:8px;*/
}

.holo-section-title__title {
    text-align: center;
    font-size: 100px;
    color: #F3B32A;
    letter-spacing: 0.3px;
}

.holo-section-credits {
    font-size: 24px;
    color: #fff;
    text-align:center;
}

.footer-link {
    font-size:14px;
    color:#fff;
    letter-spacing: 1.5px;
    text-decoration:none;
}

.spacer-intro {
    height:calc(100% - 200px);
}

/*Desktop*/

@media (min-width: 640px) {
    h2 {
        margin-top: -30px;
    font-size: 24px;
    }
    .holo-section-intro__title {
        font-size: 60px;
        line-height: 65px;
        width: 80%;
        max-width: 700px;
        /*margin-top: 150;*/
    }
    .holo-inner-padding {
        padding-right: 70px;
        padding-left: 100px;
    }
    .holo-term-title {
        font-size: 88px;
        letter-spacing: 0.1px;
        line-height: 77px;
    }
    .holo-term-link .material-icons {
    font-size: 58px;
    }
}


/*tablet*/

@media (min-width: 1024px) {}